main {
    text-align: center;
    position: relative;
    top: 80px;
}

header {
    padding: 16px 24px;
    display: block;
    max-height: 64px;
}

.logo {
    float: left;
    line-height: 32px;
}

.header-right {
    float: left;
    line-height: 32px;
}

.header-right li {
    float:right;
    color: black;
    text-align: center;
    padding: 16px;
    line-height: 32px;

}

section {

}

.banner{
    background-color: grey;
    display: inline-block;
}

.bannerimg {
    float: left;
    size: 60%;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
}

.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
}

.image-container {
    max-width: 60%;
    margin: 32px 24px;
    overflow: auto;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }